<!DOCTYPE html>
<head>
    <title>PopePicker</title>
</head>
<body>
    <div id="__content"></div>
    <script type="text/javascript" src="static/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="static/js/underscore-min.js"></script>
    <script type="text/javascript" src="static/js/json2.js"></script>
    <script type="text/javascript" src="static/js/backbone-min.js"></script>
    <script type="text/javascript" src="static/js/popepicker_templates.js"></script>
    <script type="text/javascript" src="static/js/popepicker.js"></script>
    <script type="text/javascript">
        $(function(){
            popepicker.init();
        });
    </script>
</body>
</html>